/* 
.container{
  border: 1px solid red;
  background-color: lightgrey;
} */

/* .row{
  border: 1px solid blue;
  height: 80px;
} */

[class*='col-']{
  border: 2px solid green;
  height: 50px;
}





https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png"
