
/* .container-fluid{
  border: 1px solid black;
  height: 80vh;
  background-color: lightgrey;
}

[class*='col-']{
  border: 1px solid red;
  height: 80px;
}

img{
  width: 33%;
} */





https://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png"
